.loading-map{
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    
}

.search-container{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.list-container{
    max-height: 50vh;
    overflow-y: scroll;
}
.list-container ul li{
    padding: 20px;
}

.pointer{
    cursor: pointer;
}

.DistanciaMinutos-container{
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    left: 20px;
    color: #000;
    width: 20vw;
    padding: 20px 20px 0 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 6px 10px 17px 1px rgba(93,93,93,0.26);
}

.DistanciaMinutos-container p{
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}